body{
    background-color:aliceblue;
    margin-top: 0;
 }

 h1{
    margin-top: 0; 
    text-align: center;
    background-color: brown;
    margin: 0;
 }
 section{
     border:2px solid blue;
     width:600px;
     margin: center;
     padding:20px;
 }
 p{
     color: red;
     width:300px;
     margin: 20px auto;
     padding:20px;
     border: 2px solid darkgreen;
 }